body {
  padding: 10px;
  padding-top: 60px;
  font-family: sans-serif;
}
/* CSS declarations go here */
.thumbnail {
  min-height:500px;
  max-height:500px;

}

.thumbnail-img {
  max-height: 300px;
}
